* {
  background-color: #eeeed1;
}

img {
  border-radius: 30px;
  border: 2px solid black;
  width: 100%;
  height: auto;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 3rem;
  text-align: center;
  font-weight: bolder;
}

h2 {
  text-align: center;
}

.perfect {
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  padding: 2rem;
  border: 1px solid gray;
  background-color: hsl(60, 78%, 87%);
  border-radius: 30px;
  border-style: groove;
}

ul,
ol {
  border: 1px solid gray;
  border-radius: 30px;
  background-color: hsl(60, 78%, 87%);
}

li {
  padding: 1rem;
  background-color: hsl(60, 78%, 87%);
}

h3 {
  background-color: hsl(60, 78%, 87%);
}
